$mainColor: #ffe28a; // same as $retro-orange

// ~~~~~~ CORAL RED COLOR PALETTE ~~~

$CR1: #FC4445;
$CR2: #3FEEE6;
$CR3: #55BCC9;
$CR4: #97CAEF;
$CR5: #CAFEFE;

// ~~~~~~ RETRO COLOR PALETTE  ~~~~~~

$retro-green: #666547;
$retro-red: #fb2e01;
$retro-light-green: #6fcb9f;
$retro-orange: #ffe28a; 
$retro-yellow: #fffeb3;

$color1: $retro-green;
$color2: $retro-light-green;
$color3: $retro-orange;
$color4: $retro-yellow;
$color5: $retro-red;